$verborange:  #f6870f;

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}





* {
  border: 1px solid red;
}




.head-banner {
  @include row;
  width: 100%;
  height:auto;
  background-color: $verborange;
  color: white;
  .shop-head-banner {
    @include row;
    justify-content: flex-end;
  }
}

.main-header {
  @include column;
  .header-nav {
    @include row;
    justify-content: space-around;
  }
}





.body-container {
  margin: 0 auto;
  padding: 0 50px;
  width: 1400px;
  .section-container{
    @include row;
    justify-content: space-around;
  .section-left, .section-right {
    @include column;
  }
  .section-left {

  }
  .section-right {

  }
}
}


















.item-show-footer {
  width: 100%;
}
