$verborange:  #f6870f;

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}





* {
  border: 1px solid red;
  font-family:Helvetica,Arial,sans-serif;
    color: #414141;
    font-size: 1.6em;
    line-height: 1.4;
    -moz-osx-font-smoot
}




.head-banner {
  @include row;
  width: 100%;
  height:auto;
  background-color: $verborange;
  color: white;

  .shop-head-banner {
  }
}

.main-header {
  @include column;
  .header-nav {
    @include row;
    justify-content: space-around;
  }
}





.body-container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1046.4px;
  .section-container{
    @include row;
    justify-content: space-around;
  .section-left, .section-right {
    @include column;
  }
  .section-left {
    width: 63%;
    .main-image {
      width: 625px;
      height: 625px;
    }

  }
  .section-right {

  }
}
}



.sub-header {
  @include row;
  list-style: none;
  li {
    padding:5px 15px;

  }
}

















.item-show-footer {
  width: 100%;
}
