$verborange:  #f6870f;

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}





* {
  border: 1px solid red;
}




.head-banner {
  @include row;
  width: 100%;
  height:auto;
  background-color: $verborange;
  color: white;

  .shop-head-banner {
  }
}

.main-header {
  @include column;
  .header-nav {
    @include row;
    justify-content: space-around;
    img {
      height: 3.7rem;
    }
  }
}

.actual-nav {
  margin-left: 27.75%;
}


body {
  font-family:Helvetica,Arial,sans-serif;
    color: #414141;

    line-height: 1.4;
}

.sub-header {
  @include row;
  list-style: none;
  li {
    padding:5px 15px;

  }
}

.body-container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1046.4px;
  .section-container{
    @include row;
    justify-content: space-around;
  .section-left, .section-right {
    @include column;
  }
  .section-left {
    width: 63%;
    .main-image {
      max-width: 625px;
      max-height: 625px;
      height:auto;
    }

  }
  .section-right {
    text-align: center;
  }
}
}





















.item-show-footer {
width: 100%;
  ul{
    @include row;
    list-style: none;
    justify-content: space-around;
  }
}
